.card {
  margin-top: 5rem;
}

.title {
  margin: 1rem;
  text-align: center;
}

.description {
  text-align: center;
}

.ingredients {
  margin-left: 1rem;
}

.loading_icon {
  text-align: center;
  margin-top: 2rem;
}

