html {
  background-color: rgba(235, 235, 235, 0.808);
}
.App {
  background-color: rgba(235, 235, 235, 0.808);
}

.table {
  max-width: fit-content;
  margin: 50px;
}

.navbar {
  position: absolute;
  top: 50px;
  margin-bottom: 4rem;
}

@media (max-width: 750px) {
  .add-recipe-btn {
    width: 80vw;
  }
}
